//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
$primary: #3e97ff;
$primary-active: #2884ef;
$primary-light: #eef6ff;
$primary-light-dark: #212e48;
$primary-inverse: #ffffff;

// Success
$success: #75cc68;
$success-active: #5fb751;
$success-light: #eefbec;
$success-light-dark: #1c3238;
$success-inverse: #ffffff;

// Info
$info: #7239ea;
$info-active: #5014d0;
$info-light: #f8f5ff;
$info-light-dark: #2f264f;
$info-inverse: #ffffff;

// Danger
$danger: #f1416c;
$danger-active: #d9214e;
$danger-light: #fff5f8;
$danger-light-dark: #3a2434;
$danger-inverse: #ffffff;

// Warning
$warning: #e78b2f;
$warning-active: #ce7317;
$warning-light: #fcf2e8;
$warning-light-dark: #392f28;
$warning-inverse: #ffffff;

// Border Radiues
$border-radius-sm: 0.55rem;
$border-radius: 0.85rem;
$border-radius-lg: 1.5rem;
$border-radius-xl: 2.25rem;

// Box shadow
$box-shadow-xs: 0px 12px 24px rgba(0, 0, 0, 0.04);
$box-shadow-xs-dark: 0px 12px 24px rgba(0, 0, 0, 0.04);

// Typography
$font-family-sans-serif: 'Readex Pro', sans-serif !important;
