.widget-wallet .widget-content.f_wallet {
  background: #16a085; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1a5629,
    #16a085,
    #1a5629
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1a5629,
    #16a085,
    #1a5629
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.widget-wallet .widget-content.b_wallet {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.widget-wallet .widget-content.gc_wallet {
  background: rgb(36, 11, 54);
  background: -webkit-linear-gradient(
    90deg,
    rgba(36, 11, 54, 1) 0%,
    rgba(130, 17, 37, 1) 50%,
    rgba(36, 11, 54, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(36, 11, 54, 1) 0%,
    rgba(130, 17, 37, 1) 50%,
    rgba(36, 11, 54, 1) 100%
  );
}
