//
// sidebar Secondary
//

// General mode
.app-sidebar-secondary {
  transition: $app-sidebar-secondary-base-transition;
  position: relative;
  flex-shrink: 0;
  background-color: var(--kt-app-sidebar-secondary-base-bg-color);
  box-shadow: var(--kt-app-sidebar-secondary-base-box-shadow);
  border-left: var(--kt-app-sidebar-secondary-base-border-start);
  border-right: var(--kt-app-sidebar-secondary-base-border-end);
}

// Utilities
.app-sidebar-secondary-collapse-d-flex,
.app-sidebar-secondary-minimize-d-flex,
.app-sidebar-secondary-collapse-mobile-d-flex,
.app-sidebar-secondary-minimize-mobile-d-flex {
  display: none;
}

// Desktop mode
@include media-breakpoint-up(lg) {
  // Base
  .app-sidebar-secondary {
    @include property(z-index, $app-sidebar-secondary-base-z-index);
    @include property(margin-left, $app-sidebar-secondary-base-gap-start-mobile);
    @include property(margin-right, $app-sidebar-secondary-base-gap-end-mobile);
    @include property(margin-top, $app-sidebar-secondary-base-gap-top-mobile);
    @include property(margin-bottom, $app-sidebar-secondary-base-gap-bottom-mobile);
  }

  // Vars
  [data-app-sidebar-secondary-enabled='true'] {
    --kt-app-sidebar-secondary-width-actual: calc(
      #{$app-sidebar-base-width} - #{$app-sidebar-primary-base-width} - #{$app-sidebar-primary-base-gap-start} -
        #{$app-sidebar-primary-base-gap-end} - #{$app-sidebar-secondary-base-gap-start} - #{$app-sidebar-secondary-base-gap-end}
    );
  }

  [data-app-sidebar-secondary-enabled='true'][data-app-sidebar-stacked='true'] {
    --kt-app-sidebar-secondary-width: calc(
      #{$app-sidebar-base-width} - #{$app-sidebar-primary-base-width} - #{$app-sidebar-primary-base-gap-start} -
        #{$app-sidebar-primary-base-gap-end} - #{$app-sidebar-secondary-base-gap-start} - #{$app-sidebar-secondary-base-gap-end}
    );

    --kt-app-sidebar-secondary-gap-start: #{$app-sidebar-secondary-base-gap-start};
    --kt-app-sidebar-secondary-gap-end: #{$app-sidebar-secondary-base-gap-end};
    --kt-app-sidebar-secondary-gap-top: #{$app-sidebar-secondary-base-gap-top};
    --kt-app-sidebar-secondary-gap-bottom: #{$app-sidebar-secondary-base-gap-bottom};
  }

  [data-app-sidebar-secondary-enabled='true'][data-app-sidebar-secondary-minimize='on'] {
    --kt-app-sidebar-secondary-width: #{$app-sidebar-secondary-minimize-width};

    --kt-app-sidebar-secondary-gap-start: #{$app-sidebar-secondary-minimize-gap-start};
    --kt-app-sidebar-secondary-gap-end: #{$app-sidebar-secondary-minimize-gap-end};
    --kt-app-sidebar-secondary-gap-top: #{$app-sidebar-secondary-minimize-gap-top};
    --kt-app-sidebar-secondary-gap-bottom: #{$app-sidebar-secondary-minimize-gap-bottom};
  }

  [data-app-sidebar-secondary-enabled='true'][data-app-sidebar-secondary-collapse='on'] {
    --kt-app-sidebar-secondary-width-actual: calc(
      #{$app-sidebar-base-width} - #{$app-sidebar-primary-base-width} - #{$app-sidebar-primary-base-gap-start} -
        #{$app-sidebar-primary-base-gap-end} - #{$app-sidebar-secondary-base-gap-start} - #{$app-sidebar-secondary-base-gap-end}
    );

    --kt-app-sidebar-secondary-width: 0px;
  }

  // States
  .app-sidebar-secondary {
    width: var(--kt-app-sidebar-secondary-width);

    [data-app-sidebar-secondary-collapse='on'] & {
      transition: $app-sidebar-secondary-base-transition;
      width: var(--kt-app-sidebar-secondary-width-actual);
      margin-left: calc(-1 * var(--kt-app-sidebar-secondary-width-actual));
    }

    [data-app-sidebar-secondary-minimize='on'] & {
      transition: $app-sidebar-secondary-base-transition;

      //background-color: var(--kt-app-sidebar-secondary-minimize-bg-color);
      //box-shadow: var(--kt-app-sidebar-secondary-minimize-box-shadow);
      //border-left: var(--kt-app-sidebar-secondary-minimize-border-start);
      //border-right: var(--kt-app-sidebar-secondary-minimize-border-end);

      @include property(margin-left, $app-sidebar-secondary-minimize-gap-start-mobile);
      @include property(margin-right, $app-sidebar-secondary-minimize-gap-end-mobile);
      @include property(margin-top, $app-sidebar-secondary-minimize-gap-top-mobile);
      @include property(margin-bottom, $app-sidebar-secondary-minimize-gap-bottom-mobile);
    }

    [data-app-sidebar-secondary-hoverable='true'] & {
      .app-sidebar-secondary-hoverable {
        width: var(--kt-app-sidebar-secondary-width-actual);
      }
    }

    [data-app-sidebar-secondary-hoverable='true'][data-app-sidebar-secondary-minimize='on']
      &:hover:not(.animating) {
      transition: $app-sidebar-secondary-base-transition;
      width: var(--kt-app-sidebar-secondary-width-actual);
      box-shadow: var(--kt-app-sidebar-secondary-minimize-hover-box-shadow);
    }
  }

  // Integration
  .app-sidebar-secondary {
    // Header
    [data-app-sidebar-fixed='true'][data-app-header-fixed='true'][data-app-sidebar-secondary-below-header='true']
      & {
      top: var(--kt-app-header-height);
    }

    // Toolbar
    [data-app-sidebar-fixed='true'][data-app-header-fixed='true'][data-app-toolbar-fixed='true'][data-app-sidebar-secondary-below-toolbar='true']
      & {
      top: calc(var(--kt-app-header-height) + var(--kt-app-toolbar-height, 0));
    }
  }

  // Utilities
  [data-app-sidebar-secondary-enabled='true'][data-app-sidebar-secondary-minimize='on'] {
    .app-sidebar-secondary-minimize-d-none {
      display: none !important;
    }

    .app-sidebar-secondary-minimize-d-flex {
      display: flex !important;
    }
  }

  [data-app-sidebar-secondary-enabled='true'][data-app-sidebar-secondary-collapse='on'] {
    .app-sidebar-secondary-collapse-d-none {
      display: none !important;
    }

    .app-sidebar-secondary-collapse-d-flex {
      display: flex !important;
    }
  }
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
  // Base
  .app-sidebar-secondary {
    @include property(z-index, $app-sidebar-secondary-base-z-index-mobile);
    @include property(margin-left, $app-sidebar-secondary-base-gap-start-mobile);
    @include property(margin-right, $app-sidebar-secondary-base-gap-end-mobile);
    @include property(margin-top, $app-sidebar-secondary-base-gap-top-mobile);
    @include property(margin-bottom, $app-sidebar-secondary-base-gap-bottom-mobile);
  }

  // Vars
  [data-app-sidebar-secondary-enabled='true'] {
    --kt-app-sidebar-secondary-width-actual: calc(
      #{$app-sidebar-base-width-mobile} - #{$app-sidebar-primary-base-width-mobile} - #{$app-sidebar-primary-base-gap-start-mobile} -
        #{$app-sidebar-primary-base-gap-end-mobile} - #{$app-sidebar-secondary-base-gap-start-mobile} -
        #{$app-sidebar-secondary-base-gap-end-mobile}
    );
  }

  [data-app-sidebar-secondary-enabled='true'][data-app-sidebar-stacked='true'] {
    --kt-app-sidebar-secondary-width: calc(
      #{$app-sidebar-base-width-mobile} - #{$app-sidebar-primary-base-width-mobile} - #{$app-sidebar-primary-base-gap-start-mobile} -
        #{$app-sidebar-primary-base-gap-end-mobile} - #{$app-sidebar-secondary-base-gap-start-mobile} -
        #{$app-sidebar-secondary-base-gap-end-mobile}
    );

    --kt-app-sidebar-secondary-gap-start: #{$app-sidebar-secondary-base-gap-start-mobile};
    --kt-app-sidebar-secondary-gap-end: #{$app-sidebar-secondary-base-gap-end-mobile};
    --kt-app-sidebar-secondary-gap-top: #{$app-sidebar-secondary-base-gap-top-mobile};
    --kt-app-sidebar-secondary-gap-bottom: #{$app-sidebar-secondary-base-gap-bottom-mobile};
  }

  [data-app-sidebar-secondary-enabled='true'][data-app-sidebar-secondary-minimize-mobile='on'] {
    --kt-app-sidebar-secondary-width: #{$app-sidebar-secondary-minimize-width-mobile};

    --kt-app-sidebar-secondary-gap-start: #{$app-sidebar-secondary-minimize-gap-start-mobile};
    --kt-app-sidebar-secondary-gap-end: #{$app-sidebar-secondary-minimize-gap-end-mobile};
    --kt-app-sidebar-secondary-gap-top: #{$app-sidebar-secondary-minimize-gap-top-mobile};
    --kt-app-sidebar-secondary-gap-bottom: #{$app-sidebar-secondary-minimize-gap-bottom-mobile};
  }

  [data-app-sidebar-secondary-enabled='true'][data-app-sidebar-secondary-collapse-mobile='on'] {
    --kt-app-sidebar-secondary-width-actual: calc(
      #{$app-sidebar-base-width-mobile} - #{$app-sidebar-primary-base-width-mobile} - #{$app-sidebar-primary-base-gap-start-mobile} -
        #{$app-sidebar-primary-base-gap-end-mobile} - #{$app-sidebar-secondary-base-gap-start-mobile} -
        #{$app-sidebar-secondary-base-gap-end-mobile}
    );

    --kt-app-sidebar-secondary-width: 0px;
  }

  // States
  .app-sidebar-secondary {
    width: var(--kt-app-sidebar-secondary-width);

    [data-app-sidebar-secondary-collapse-mobile='on'] & {
      transition: $app-sidebar-secondary-base-transition;
      width: var(--kt-app-sidebar-secondary-width-actual);
      margin-left: calc(-1 * var(--kt-app-sidebar-secondary-width-actual));
    }

    [data-app-sidebar-secondary-minimize-mobile='on'] & {
      transition: $app-sidebar-secondary-base-transition;
      background-color: var(--kt-app-sidebar-secondary-minimize-bg-color-mobile);
      box-shadow: var(--kt-app-sidebar-secondary-minimize-box-shadow-mobile);
      border-left: var(--kt-app-sidebar-secondary-minimize-border-start-mobile);
      border-right: var(--kt-app-sidebar-secondary-minimize-border-end-mobile);

      //@include property( margin-left, $app-sidebar-secondary-minimize-gap-start-mobile);
      //@include property( margin-right, $app-sidebar-secondary-minimize-gap-end-mobile);
      //@include property( margin-top, $app-sidebar-secondary-minimize-gap-top-mobile);
      //@include property( margin-bottom, $app-sidebar-secondary-minimize-gap-bottom-mobile);
    }

    [data-app-sidebar-secondary-hoverable-mobile='true'] & {
      .app-sidebar-secondary-hoverable {
        width: var(--kt-app-sidebar-secondary-width-actual);
      }
    }

    [data-app-sidebar-secondary-hoverable-mobile='true'][data-app-sidebar-secondary-minimize-mobile='on']
      &:hover:not(.animating) {
      transition: $app-sidebar-secondary-base-transition;
      width: var(--kt-app-sidebar-secondary-width-actual);
      box-shadow: var(--kt-app-sidebar-secondary-minimize-hover-box-shadow-mobile);
    }
  }

  // Utilities
  [data-app-sidebar-secondary-enabled='true'][data-app-sidebar-secondary-minimize-mobile='on'] {
    .app-sidebar-secondary-minimize-mobile-d-none {
      display: none !important;
    }

    .app-sidebar-secondary-minimize-mobile-d-flex {
      display: flex !important;
    }
  }

  [data-app-sidebar-secondary-enabled='true'][data-app-sidebar-secondary-collapse='on'] {
    .app-sidebar-secondary-collapse-mobile-d-none {
      display: none !important;
    }

    .app-sidebar-secondary-collapse-mobile-d-flex {
      display: flex !important;
    }
  }
}
